/* @import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700;800&display=swap');


@import url('./css2.css'); */
:root {
    --main-color: #570000;
    --second-color: black;
    --icon-Color: rgb(161, 161, 161);
    --btn-color: #537dae;
    --yell-color: rgb(177, 150, 1);
    /* --background-color-nav: #093f7e; */
    --background-color-nav: #0a0096ab;
   
    --top: 75px
}

body {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 800;
   padding: 0;
   margin: 0;

}


.rtl,
#tapsit {
    direction: rtl;
}


.contentGoals {
    /* background-image: url(../img/background1.png); */
    background-size: cover;
    background-position: -3% -106px;
}

.main-color {
    color: var(--main-color);
}
a.btn.px-4.mb-4.mt-4.main-background-color.text-white {
    background-color: #6c0000;
}
.main-background-color {

    background-color: var(--main-color);
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(255, 255, 255) !important;
}
.background-color-navColor {
    background-color: #1c2331;
}

.background-color-nav {
    color: var(--background-color-nav);
}
.backgroundOpec{
    color: #1c2331;
}
.yell-color {
    color: rgb(185, 173, 0);;
}

.animate__fadeIn {
    animation-duration: 4s;
    /* don't forget to set a duration! */
}

.animate__fadeIn.Learn {
    animation-duration: 1s;
    /* don't forget to set a duration! */
}


/* start Login Page */

.LoginPage {
    background-color: rgb(209 209 209 / 16%);
    /* height: 100vh; */
    /* background-image: url(../img/wave\ \(14\).svg); */
    background-image: repeating-linear-gradient(311deg,#d5d4d4 5%, white 15%, #e7e7e7 60%);
    direction: rtl;
}

.content {
    border-radius: 10px;
    box-shadow: 10px 10px 25px 3px;
    border: #a7a7a7 solid 1px;
}

.content img {
    width: 15%;
    right: 50%;
    top: 0;
    transform: translate(50%, -65%);
    background-color: white;
    border-radius: 50%;
}

content h5 {
    background-color: var(--main-color);
}


.btnLogin  {
    background-color: #1c2331;
    color: white;
    padding: 10px 0;
    border: 2px solid  #1c2331;
    transition: all 0.5s;
}

.btnLogin:hover {
    background-color: white;
    color: #1c2331;
    padding: 10px 0;
    border: 2px solid #1c2331;
}


/* end Login Page */

.navbar {
    /* background-color: #185970 ; */
    background-color: var(--background-color-nav);
    z-index: 999999;
}

.header {
    background-image: url(../img/Smart-ERP-1400x640.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}

.header2 {
    /* width: 100%;
    height: 100vh; */
    /* background-image: url(../img/background1.png);
    background-size: cover;
    background-position: 50% 0; */
    background-image: url(../img/9.svg);
    background-position: 0px 70px;
    background-size: cover;
    background-repeat: no-repeat;
}

.decoration {
    position: relative;
    padding-bottom: 20px;
}

.decoration::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 4px;
    bottom: 0;
    right: 10%;
    transform: translateY(-100%);
    background-color: var(--background-color-nav);
}

.chatContent {
    background-color: rgb(177, 150, 1);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1%;
    left: 1%;
    position: fixed;
}

.h2Header {
    position: relative;
}

.h2Header::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 5px;
    bottom: -60%;
    right: 50%;
    transform: translate(50%);
    background-color: var(--background-color-nav);
}

.btnLink {
    padding: 13px 30px;
    color: var(--background-color-nav) ;
    background-color: white;
    text-decoration: none;
    border-radius: 7px;
    border:1px solid var(--background-color-nav);;
    box-shadow: 10px 10px 34px #000000b5;
    transition: all 0.5s;
    font-size: 16px;
    font-weight: bold;

}
a.animate__animated.animate__fadeIn.btnLink:hover {
    color: white;
    text-decoration: none;
    background-color:  var(--background-color-nav)te;
}

.back {
    padding: 7px 15px;
    color: white;
    background-color: rgb(90, 0, 0);
    text-decoration: none;
    border-radius: 7px;
    box-shadow: 10px 10px 34px #000000b5;
    border: none;
}
button.back.backQuioz
{
    padding: 7px 20px;
    border: none; 
}

.contentQuiz h4 {
    color: #b50303;
    padding-right: 17px;
    text-align: right !important;
}


/* start Footer */

.myFooter {

    direction: rtl !important;
}

video {
    width: 100%;
}


/* Start bage Learning */

.livedevquestion {
    background-color: #bdbfc1;
    color: #212020;
    font-weight: bold;
    transform: translateX(15px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contentQuiz {
    background-color: rgb(255 255 255 / 84%);
    box-shadow: 14px 14px 22px -2px;
    border-radius: 10px;
    border: 2px solid #cdcdcd;
}

.numberQuestion {
    border-bottom: 2px solid rgb(211, 211, 211);
}


.glass {
    direction: ltr !important;
}

.radio-input {
    display: flex;
    /* height: 210px; */
    align-items: center;
    justify-content: space-between;
}

.glass {
    z-index: 2;
    height: 110%;
    width: 95px;
    margin-right: 25px;
    padding: 8px;
    background-color: rgba(190, 189, 189, 0.5);
    border-radius: 35px;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 25px 50px -10px, rgba(0, 0, 0, 0.25) 0px 10px 30px -15px, rgba(10, 37, 64, 0.26) 0px -2px 6px 0px inset;
    backdrop-filter: blur(8px);
}

.glass-inner {
    width: 100%;
    height: 100%;
    border-color: rgba(245, 245, 245, 0.45);
    border-width: 9px;
    border-style: solid;
    border-radius: 30px
}

.selector {
    padding: 10px 10px 0 56px;
}

.choice {
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
}

.choice>div {
    position: relative;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    z-index: 0;
}

.choice-circle {
    appearance: none;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    border-width: 9px;
    border-style: solid;
    border-color: rgb(195 195 195 / 45%);
    cursor: pointer;
    box-shadow: 0px 0px 20px -13px gray, 0px 0px 20px -14px #121010 inset;
}

.ball {
    z-index: 1;
    position: absolute;
    inset: 0px;
    transform: translateX(-95px);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset, rgba(0, 0, 0, 0.15) 0px -15px 15px 0px inset, rgba(0, 0, 0, 0.1) 0px -40px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px, 0px -1px 15px -8px rgba(0, 0, 0, 0.09);
    border-radius: 100%;
    transition: transform 800ms cubic-bezier(1, -0.4, 0, 1.4);
    background-color: rgb(232, 232, 232, 1);
}

.choice-circle:checked+.ball {
    transform: translateX(0px);
}

.choice-name {
    color: rgb(51, 51, 51);
    font-size: 28px;
    font-weight: 900;
    font-family: monospace;
    cursor: pointer;
}

.btnQuiz {
    background-color: rgb(9 63 126) !important;
    color: white!important;
    padding: 8px 1px !important;
    width: 15% !important;
}
.neext a
{
    background-color: rgb(9 63 126) ;
    text-decoration: none;
    color: white;
}

.btnQuiz:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgb(9 63 126)!important;
}
.form {
    height: 97vh;
}
.contentGoals address p {
    font-family: bolder;
    font-size: 22px;
    color: black;
}

.model address p {
    font-family: bolder;
    font-size: 18px;
    color: black;
}

.contentsLink {
    transform: rotateY('50%');
    right: 40%;
    top: 100%;
    opacity: 0;
    text-decoration: none;
    color: #093f7e;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.8s;
}
.itemTe3lim:hover .contentsLink{
    opacity: 1;
    top: 50%;
    text-decoration: none;
    transform: translateY(-50%);
}
.itemTe3lim:hover .layersImg{
    opacity: 0.6;
}
.layersImg
{
    opacity: 0;
    transition: all 0.8s;
}
.position-relative.shadow-lg.rounded-2.itemTe3lim {
    box-shadow: -24px 27px 0px -3px #093f7e !important;
}

.cont
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 27px 27px 56px 3px #c9c9c9 !important;
}
.cont img
{
    border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--background-color-nav);
    margin: 0 10px;
    border: 2px solid #7b7b7b6b;
    box-shadow: 5px 3px 4px 1px #c1c1c1;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    background-color: #ffffff;
    color: #093f7ed4;
}
button#btnForm {
    background-color: #093f7e;

}
.btnQuiz a{
    text-decoration: none;
    color: white;
}
.back:hover
{
    text-decoration: none; 
    color:white
}

.list-group-item:focus, .list-group-item:hover {
    z-index: 1;
    text-decoration: none;
    background-color: #cfd2d5;
}

a
{
    text-decoration: none !important;
}

a.goExam {
    background-color: #1f3b72;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
h2.background-color-nav.fw-bolder.h2Header.mb-5 {
    text-align: center !important;
}





#SuggestedSources {
    background-image: url(../img/30.jpg);
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.backgrounQuiz 
{
    background-image: url(../img/30.jpg);
    background-size: cover;
    background-position: -3% -106px;
}


#goals,#fristVideoContainer
{
    background-image: url(../img/30.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


button#next1 , button#next2 , button#next3 , a#quiz_question , button#next4 , button#next5 , button#next6
button#next7 , button#next8 , button#next9 , button#next10 , button#next11 , button#next12 ,button#next13
button#next14 , button#next15 , button#next16 , button#finish
{
    background-color: #1c2331;
    color: white;
    padding: 7px 5px;
    border: 2px solid  #1c2331;
    transition: all 0.5s;
}
/* button#next1:hover {
    background-color: white;
    color: #1c2331;

} */

.container.Contentsform {
    border: 1px solid #afafaf;
    direction: rtl;
    border-radius: 9px;
    box-shadow: -1px 7px 18px 5px #4a4848;
    padding: 84px 15px;
}
div#q {
    background-color: #f1f1f1;
    border: 2px solid #bbbbbb;
}
input[type="submit"] {
    border-radius: 6px;
    background-color:#4385f5;
    color: white;

    border: none;
}
input.Searchgoogle
{
    width: 15%;
}
.model h6 {
    text-align: right;
}
button.accordion-button {
    direction: rtl;
}
.accordion-body address p{
    direction: rtl !important;
}
h2.accordion-header {
    direction: rtl;
}
.contentwebsite
{
    direction: ltr;
}
a.nav-link
{
    color: white;
    font-weight: bold;
}
.nav-link:focus, .nav-link:hover , a.nav-link:hover {
    color: #e3c000;
}

.NavContentLinks {
    --bs-bg-opacity: 1;
    background-color: rgb(28 35 49) !important;
    box-shadow: 9px -20px 13px 11px black;
}



/* Custom styles for Toastr notifications */
.toast-top-right-20 {
    top: 90px; /* Adjust as needed */
    right: 1%; 
   opacity: 1;
  }
  /* Custom styles for Toastr notifications */
.toast {
    opacity: 1 !important; /* Set opacity to 1 */
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
  }
  
  /* Style the progress bar */
  .toast-progress {
    background-color: #fff;
  }
  
  /* Override the default position class */
  .toast-top-right {
    top: 20px;
    right: 20px;
  }
  a.back.textDecoration.py{
    padding: 11px 10px !important;
}



/* Custom CSS */
.dropdown-menu {
    background-color: #f8f9fa; /* Background color of the dropdown menu */
    border: none; /* Remove border */
}

.dropdown-menu a.dropdown-item {
    color: #000; /* Text color of dropdown items */
}

.dropdown-menu a.dropdown-item:hover {
    background-color: #e9ecef; /* Background color on hover */
}

/* Optional: Adjust padding/margins for better spacing */
.submenu.dropdown .dropdown-menu {
    padding: 10px;
    margin-top: 0;
}
