
{% extends 'base.html' %}
{%load static%}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
<div class="container pt-3 pb-5 mb-5">
  <section class="rtl text-center mt-5" id="goals">
    <h2 class="background-color-nav fw-bolder h2Header mb-5">مرحباً بك فى الموديول الثانى</h2>
    <h5 class="pb-4 text-end"> <span class="main-color"> الموديول الثاني: </span> إنتاج الإنفوجرافيك الثابت المدعم بالذكاء الاصطناعي باستخدام موقع Visme</h5>
    <h6 class="pb-4 text-end"><span class="main-color fw-bold">الهدف الرئيس الثاني  :</span> التعرف على خطوات إنتاج الإنفوجرافيك التعليمي الثابت باستخدام موقع Visme, ويتفرع منه الأهداف الإجرائية التالية: </h6>
    <h6 class="pb-4 text-end">مع نهاية دراسة هذا المحتوى, من المتوقع أن يكون الطالب المعلم قادرًا على أن: </h6>
    <div class=" contentGoals">
          <div class="row justify-content-center ">
            <div class="col-md-6 wow  animate__animated animate__fadeInUp ">
              <div>
                <address class="serviceFooter" style="text-align: right;">
                  <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يُعرِّف الانفوجرافيك التعليمي الثابت </p>
                  <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يحلل استخدامات الإنفوجرافيك الثابت </p>
                  <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يعرض بعض مواقع تصميم الإنفوجرافيك الثابت </p>
                  <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يسجل الدخول على موقع Visme </p>
                  <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يحلل خطوات إنشاء إنفوجرافيك ثابت جديد باستخدام موقع Visme </p>
                  <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>  	يضيف اسمًا للإنفوجرافيك الثابت في موقع Visme</p>
                  <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>  	يدرج جزءًا جديدًا block  للإنفوجرافيك الثابت في موقع Visme</p>
                  <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> يُحرك الأجزاءblocks  في الإنفوجرافيك الثابت في موقع Visme </p> 
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>  ينسخ الأجزاءblocks  في الإنفوجرافيك الثابت في موقع Visme</p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يحذف الأجزاءblocks  في الإنفوجرافيك الثابت في موقع Visme </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>  	يدرج شكلًا جديدًا للإنفوجرافيك الثابت في موقع Visme</p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يستنبط خطوات إضافة صورة للإنفوجرافيك الثابت في موقع Visme</p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> يوضح طرق تنسيق الصور في الإنفوجرافيك الثابت من خلال موقع Visme </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>يدرج نصًا للإنفوجرافيك الثابت في موقع Visme </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يستخدم أداة الكتابة الذكية في الإنفوجرافيك الثابت في موقع Visme </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>  	يدرج شكلًا بيانيًا للإنفوجرافيك الثابت في موقع Visme</p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يوضح خطوات إضافة جدول للإنفوجرافيك الثابت في موقع Visme </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>يدرج رسمًا تخطيطيًا للإنفوجرافيك الثابت في موقع Visme </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> يعدل ألوان الخلفية في الإنفوجرافيك الثابت في موقع Visme.</p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يوضح أهم الأدوات التي يمكن إضافتها في الإنفوجرافيك الثابت في موقعVisme </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يستخدم قالب إنفوجرافيك ثابت جاهز في موقع Visme. </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>  	يستنبط طريقة إضافة مشاركين في الإنفوجرافيك الثابت في موقع Visme.</p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	ينشئ نسخة من الإنفوجرافيك الثابت في موقع Visme. </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>يستخلص طريقة معاينة الإنفوجرافيك الثابت من خلال موقع Visme. </p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> 	يستنتج طريقة مشاركة الإنفوجرافيك الثابت من خلال موقع Visme.</p>
                   <p class="addre"><i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i>	يحفظ الإنفوجرافيك الثابت في جهازه من خلال موقع  .Visme </p>

                </address>
              </div>
            </div>


            <div class="col-md-5 wow animate__animated animate__zoomIn">
              <div>
                <img src="{%static 'img/31.jpg'%}" alt="" class="w-100 d-block mb-4 rounded-3">
                <a class="goExam ms-auto" href="{% url 'quiz_question' quiz_name='beforemodule2tabsit' %}"> الدخول الى الاختبار القبلي للموديل الثانى</a>
                <a class="goExam ms-auto mt-3" href="{% url 'tabsit_module' module_number=2 %}">الدخول الى المحتوى</a>

              </div>
            </div>
  
          </div>
        </div>
    </section>
</div>
{% endblock %}