{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{{ quiz.title }}
{% endblock %}
{%load static%}

{% block content %}
<div>
    <div class="row m-0 p-0">

        <div class="col-md-10">

 <!-- =======================================vedio1-================================= -->
 <div class="mt-5 py-5" id="fristVideoContainer">
    <h2 class="background-color-nav fw-bolder h2Header mb-5">مرحباً بك فى الموديول الثانى</h2>

    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6  ">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/krfDL0NVNd8" frameborder="0" allowfullscreen></iframe>
                </div>
                <!-- <button class="btn  px-4 mb-4 mt-4" id="next1" disabled> التالي <i
                        class="fa-solid fa-paper-plane"></i></button> -->
            </div>
            <div class="col-md-6" id="ts3limatVedio1">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> تعريف الإنفوجرافيك الثابت</h5>
                    <address class="serviceFooter" style="text-align: right;">
                        <h6 class="main-color">تعريف الإنفوجرافيك الثابت <i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </h6>

                        <p>الإنفوجرافيك الثابت هو شكل من أشكال التواصل البصري يستخدم الصور والرسومات البيانية والنصوص لعرض المعلومات والبيانات بطريقة جذابة وشيقة. يتميز الإنفوجرافيك الثابت بعدم وجود حركات أو تفاعلات، حيث يعرض المعلومات في شكل ثابت</p>
                        <br>
                        <h6 class="main-color">استخدامات الإنفوجرافيك الثابت<i class="fa-solid fa-circle-check ps-2 yell-color fs-5"></i> </h6>

                  <p>:تتعدد استخدامات الإنفوجرافيك الثابت، ومن أبرزها</p>
                  <p> <span class="main-color fw-bold"> التثقيف والتوعية : </span> يمكن استخدام الإنفوجرافيك الثابت للتثقيف والتوعية حول مجموعة متنوعة من الموضوعات، مثل الصحة العامة، والتعليم، والبيئة، والسياسة، والاقتصاد، وغيره</p>
                  <p> <span class="main-color fw-bold">  	التسويق والترويج : </span>يمكن استخدام الإنفوجرافيك الثابت للتسويق والترويج لمنتجات أو خدمات معينة، أو لزيادة الوعي بعلامة تجارية أو شركة.
                   التعلم والتعليم: يمكن استخدام الإنفوجرافيك الثابت في عملية التعلم والتعليم لشرح المفاهيم والأفكار المعقدة بطريقة بسيطة وسهلة الفهم</p>
                   <p> <span class="main-color fw-bold"> 	التواصل والإعلام: </span> يمكن استخدام الإنفوجرافيك الثابت في التواصل والإعلام لتوصيل المعلومات إلى الجمهور بطريقة مؤثرة وجذابة</p>
<p>وبالتالي, يستخدم الإنفوجرافيك الثابت في العديد من المجالات، مثل التعليم والتسويق والصحافة. فهو يساعد على تبسيط المعلومات المعقدة وجعلها أكثر قابلية للفهم، كما أنه يجذب انتباه الجمهور ويساعد على تذكر المعلومات</p>
                
                </address>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- =======================================vedio2-================================= -->
    <div class="mt-5 py-5" id="secondVideoContainer" style="display: none;">
        <div class="container">
            <div class="row m-0 p-0">
                <div class="col-md-6 animate__animated animate__zoomIn">
                    <div id="player" claas="w-100 ">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/SQmeKkpPij8" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6" id="ts3limatVedio1">
                    <div class="text-end">
                        <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> إنشاء إنفوجرافيك ثابت باستخدام موقع Visme</h5>
                        <address class="serviceFooter" style="text-align: right;">
                            <h5 class="main-color fw-bold"> :تسجيل الدخول </h5>
                            <p>الدخول على متصفح Chrome <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> </p>  
                            <p>الدخول للرابط https://www.visme.com <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> </p>  
                            <p>يكتب الايميل الشخصي على Gmail <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> </p> 
                            <br> 
                            <h5 class="main-color fw-bold  "> إنشاء إنفوجرافيك ثابت جديد باستخدام موقع Visme </h5>
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	فتح قائمة create أعلى الشاشة </p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار أيقونة Infographic</p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	اختيار Create your infographic </p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> 	اختيار Blank Template</p>  

                            <br> 
                            <h5 class="main-color fw-bold rtl"> إضافة اسم للإنفوجرافيك الثابت: </h5>

                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	النقر بالماوس على أيقونة Untitled  أعلى الشاشة </p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> 	النقر على علامة التعديل  </p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> 	كتابة اسم الإنفوجرافيك الثابت باستخدام لوحة المفاتيح </p>  
                     
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =======================================vedio4-================================= -->
    <div class="mt-5 py-5" id="v4VideoContainer" style="display: none;">
        <div class="container">
            <div class="row m-0 p-0">
                <div class="col-md-6 animate__animated animate__zoomIn">
                    <div id="player" claas="w-100 ">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qPyG_l3Wf7o" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-6" id="ts3limatVedio4">
                    <div class="text-end">
                        <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span>التعامل مع الأجزاء الإنفوجرافيك الثابت   </h5>
                        <address class="serviceFooter" style="text-align: right;">
                            <h5 class="main-color fw-bold"> : إدراج جزء جديد </h5>
                            <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> إضافة جزء فارغ من خلال أيقونة Add Empty block من القائمة الجانبية على يسار الإنفوجرافيك  </p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>إضافة قالب جاهز من خلال أيقونة  Add from templates من القائمة الجانبية على يسار الإنفوجرافيك    </p>  
                            <br> 
                            <h5 class="main-color fw-bold  ">:تحريك الأجزاء </h5>
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار Move up من القائمة الجانبية على يسار الإنفوجرافيك لتحريك الجزء لأعلى</p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار Move down من القائمة الجانبية على يسار الإنفوجرافيك لتحريك الجزء لأسفل</p>  


                            <br> 
                            <h5 class="main-color fw-bold rtl"> :نسخ الأجزاء </h5>
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>		تحديد الجزء بالنقر بالماوس عليه بالماوس</p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار Duplicate block  من القائمة الجانبية على يسار الإنفوجرافيك </p>  
                     
                            <br> 
                            <h5 class="main-color fw-bold rtl"> :حذف الأجزاء </h5>
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> تحديد الجزء بالنقر بالماوس عليه بالماوس</p>  
                            <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	اختيار Delete block من القائمة الجانبية يسار الإنفوجرافيك</p>  
                     
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- =========================================================vedio5=========================== -->
<div class="mt-5 py-5" id="v5VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0 ">
            <div class="col-md-6 animate__animated animate__zoomIn">
                    <div id="player" claas="w-100 ">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/-S1BDuPgDzM" frameborder="0" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio5">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> إضافة الأشكال للإنفوجرافيك الثابت </h5>
                    <address class="serviceFooter" style="text-align: right;">
                        <h5 class="main-color fw-bold"> :إضافة الأشكال للإنفوجرافيك الثابت </h5>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Graphics على يسار الشاشة </p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار الشكل المطلوب بالنقر بالماوس عليه بالماوس فيتم إضافته  </p>  
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>تنسيق الشكل باستخدام الأدوات أعلى الشاشة</p>  

               
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================vedio6=========================== -->
<div class="mt-5 py-5" id="v6VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/ojC0VthnX1k" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio6">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> إضافة صورة للإنفوجرافيك الثابت في موقع Visme</h5>
                    <address class="serviceFooter" style="text-align: right;">
                        <h5 class="main-color fw-bold"> :إضافة صور من الموقع للإنفوجرافيك الثابت</h5>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> فتح قائمة Photos على يسار الشاشة</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>البحث عن الصور المتاحة في موقع Visme من خلال كتابة الكلمات المفتاحية في مربع البحث </p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>إضافة الصورة للإنفوجرافيك بالنقر بالماوس عليها </p>  
                        <br> 
                        <h5 class="main-color fw-bold  ">:إضافة صورة للإنفوجرافيك الثابت من جهاز الكمبيوتر</h5>
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> فتح قائمة Photos على يسار الشاشة</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>النقر بالماوس على upload</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> النقر بالماوس على From my PC</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار الصورة المناسبة من جهاز الكمبيوتر</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>النقر بالماوس على أيقونة open</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار الصورة من القائمة الجانبية باستخدام الماوس</p>  


                        <br> 
                        <h5 class="main-color fw-bold rtl"> :إضافة صورة من الإنترنت للإنفوجرافيك الثابت</h5>
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Photos على يسار الشاشة</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>النقر بالماوس على upload</p>   
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار by URL لإضافة رابط الصورة, أو Google Drive  أو One Drive </p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار الصورة</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>النقر بالماوس على أيقونة open</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار الصورة من القائمة الجانبية باستخدام الماوس</p>  
              
                        <br> 
                        <h5 class="main-color fw-bold rtl"> :إنشاء الصور باستخدام تقنية الذكاء الاصطناعي</h5>
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Photos على يسار الشاشة</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	اختيار Generate AI image أسفل الشاشة</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	إضافة وصف للصورة في مربع Describe what you want to create</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار تصميم الصورة من خلال Select an image style</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	النقر بالماوس على Generate image فتظهر عدة خيارات</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	اختيار الصورة المناسبة بالنقر بالماوس عليها بالماوس</p>  
                        <p class="rtl"> <i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	تنسيق الصورة باستخدام الأدوات أعلى الشاشة باستخدام الأدوات أعلى الشاشة</p>  

                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================vedio7=========================== -->
<div class="mt-5 py-5" id="v7VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Q8t6encPoX4" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio7">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> إضافة النصوص للإنفوجرافيك الثابت في موقع Visme </h5>
                    <address class="serviceFooter" style="text-align: right;">

                                <h5 class="main-color fw-bold"> :إضافة النصوص</h5>
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Graphics على يسار الشاشة </p>  
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Basics على يسار الشاشة </p>       
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار Header & Text</p>  
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار أسلوب النص المناسب </p>  
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> تنسيق النص باستخدام الأدوات أعلى الشاشة</p>  
                               <br>
                               <h5 class="main-color fw-bold"> :أداة الكتابة الذكية </h5>
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	اختيار قائمة الإعدادات أعلى الشاشة</p>
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>ختيار Ai writer </p>
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> 	كتابة اسم الموضوع</p>
                                <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>الضغط على Enter </p>
                            </address>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================vedio8=========================== -->
<div class="mt-5 py-5" id="v8VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/ERpsKnsjRLs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio8">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> تابع إضافة النصوص للإنفوجرافيك الثابت في موقع Visme </h5>
                    <address class="serviceFooter" style="text-align: right;">

                        <h5 class="main-color fw-bold"> :إضافة النصوص</h5>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Graphics على يسار الشاشة </p>  
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Basics على يسار الشاشة </p>                            
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار Header & Text</p>  
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار أسلوب النص المناسب </p>  
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> تنسيق النص باستخدام الأدوات أعلى الشاشة</p>  
                       <br>
                       <h5 class="main-color fw-bold"> :أداة الكتابة الذكية </h5>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	اختيار قائمة الإعدادات أعلى الشاشة</p>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>ختيار Ai writer </p>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> 	كتابة اسم الموضوع</p>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>الضغط على Enter </p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =========================================================vedio9=========================== -->
<div class="mt-5 py-5" id="v9VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/NMcVih2euQM" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio9">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> إضافة الرسوم البيانية والأشكال التخطيطية والجداول </h5>
                    <address class="serviceFooter" style="text-align: right;">

                        <h5 class="main-color fw-bold"> : إضافة الرسوم البيانية</h5>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> فتح قائمة Data على يسار الشاشة</p>  
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار Charts & Graphs </p>  
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>	النقر بالماوس على الشكل البياني لتحديده </p>  
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> تعديل البيانات من تبويب Chart Data على يسار الشاشة </p>   
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>تنسيق الشكل البياني باستخدام الأدوات أعلى الشاشة </p>   
                       <br>
                       <h5 class="main-color fw-bold"> :إضافة الجداول</h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Data على يسار الشاشة </p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> 	اختيار Tables لإضافة الجدول</p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> النقر بالماوس على الجدول لتنسيقه</p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>النقر بالماوس على  editأسفل الجدول </p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> استخدام لوحة المفاتيح لإضافة البيانات</p>   
                       <br>
                       <h5 class="main-color fw-bold"> :إضافة الرسوم التخطيطية </h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Basics على يسار الشاشة </p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار  Diagrams لإضافة الرسم التخطيطي </p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار الرسم التخطيطي المناسب</p>   
                    
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================vedio10=========================== -->
<div class="mt-5 py-5" id="v10VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/J_tEHh_jXTI" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio10">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span>  تغيير الخلفية</h5>
                    <address class="serviceFooter" style="text-align: right;">

                        <h5 class="main-color fw-bold"> : تغيير الخلفية </h5>
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة Theme colors على يسار الشاشة</p>  
                        <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار اللون الأزرق </p>  
                       <br>
                   
                    
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================vedio11=========================== -->
<div class="mt-5 py-5" id="v11VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/wtlw8ceneJU" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio11">
                <div class="text-end">
                    <h5 class="pb-2 rtl"> <span class="main-color"> الموديول الثاني: </span> إضافة QR code</h5>
                    <address class="serviceFooter" style="text-align: right;">

                    
                       <h5 class="main-color fw-bold rtl"> :إضافة QR code</h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة apps على يسار الشاشة</p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار .QR code  </p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> 	إضافة الرابط في مربع URL </p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>النقر بالماوس على Generate Code </p>   
  
                    
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- =========================================================vedio12=========================== -->
<div class="mt-5 py-5" id="v12VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/8_DBIodrhJY" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio12">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> التعامل مع قالب جاهز</h5>
                    <address class="serviceFooter" style="text-align: right;">

                    
                       <h5 class="main-color fw-bold"> :التعديل في قالب جاهز</h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> فتح قائمة create أعلى الشاشة</p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار Infographic.</p>  
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار Create your infographic </p> 
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيارالتصميم الجاهز المناسب</p> 
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> النقر بالماوس على edit للتعديل في القالب الجاهز</p> 
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> سهولة استخدام المعلومات ومشاركتها مع المتعلمين</p> 
                   
                       
                    </address>
                 
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================vedio13=========================== -->
<div class="mt-5 py-5" id="v13VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/2n3bKF8xNjY" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio13">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> تابع التعامل مع قالب جاهز</h5>
                    <address class="serviceFooter" style="text-align: right;">

                    
                       <h5 class="main-color fw-bold"> :التعديل في قالب جاهز</h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> فتح قائمة create أعلى الشاشة</p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار Infographic.</p>  
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>اختيار Create your infographic </p> 
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيارالتصميم الجاهز المناسب</p> 
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> النقر بالماوس على edit للتعديل في القالب الجاهز</p> 
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> سهولة استخدام المعلومات ومشاركتها مع المتعلمين</p> 
                   
                       
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========================================================vedio14=========================== -->
<div class="mt-5 py-5" id="v14VideoContainer" style="display: none;">
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/qporeqIhNTQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio14">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> مشاركة الإنفوجرافيك الثابت </h5>
                    <address class="serviceFooter" style="text-align: right;">

                    
                       <h5 class="main-color fw-bold"> :إضافة مشاركين للإنفوجرافيك الثابت</h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> النقر بالماوس على أيقونة invite to collaborate أعلى الشاشة</p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>إضافة اسم الشخص</p>  
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>تعديل خيارات المشاركة إلى can edit </p> 
                     <br>
                     <h5 class="main-color fw-bold"> :مشاركة الإنفوجرافيك الثابت مع الآخرين</h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>النقر بالماوس على أيقونة Share أقصى يمين الشاشة </p> 
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> النقر بالماوس على أيقونة copy link أو تحديد إعدادات المشاركة</p>  
   
                       
                    </address>
            </div>
        </div>
    </div>
</div>
</div>        
<!-- =========================================================vedio15========================== -->
<div class="mt-5 py-5" id="v15VideoContainer" style="display: none;" >
    <div class="container">
        <div class="row m-0 p-0">
            <div class="col-md-6 animate__animated animate__zoomIn">
                <div id="player" claas="w-100 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/5TPpAabMmhs" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6" id="ts3limatVedio15">
                <div class="text-end">
                    <h5 class="pb-2"> <span class="main-color"> الموديول الثاني: </span> إنشاء نسخة</h5>
                    <address class="serviceFooter" style="text-align: right;">

                    
                       <h5 class="main-color fw-bold"> :إنشاء نسخة من الإنفوجرافيك الثابت, ومعاينته, وتنزيله</h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>فتح قائمة الإعدادات أعلى يسار الشاشة </p>   
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>إنشاء نسخة من الإنفوجرافيك من خلال أيقونة Duplicate </p>   
                      <br>
                      <h5 class="main-color fw-bold"> :معاينة الإنفوجرافيك الثابت</h5>
                       <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> النقر بالماوس على أيقونة Present أقصى يمين الشاشة</p>   

                     <br>
                     <h5 class="main-color fw-bold"> :تنزيل الإنفوجرافيك الثابت إلى جهاز الكمبيوتر </h5>
                     <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار أيقونة   download أعلى يسار الشاشة</p>   
                     <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i> اختيار تنسيق الصور المناسب</p>      
                     <p class="rtl">	<i class="fa-solid fa-circle-check ps-2 yell-color fs-6"></i>النقر بالماوس على download </p>     
                    </address>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ==================================================== -->

<div class="mt-5 py-5" id="activity" style="display: none;">
    <div class="container">


                <div class="text-end">
                    <h5 class="p-2">: نشاط (2)  </h5>
<h3 class="text-center my-5 py-5">قم بانشاء إنفوجرافيك ثابت من خلال موقع Visme </h3>

<button class="btn  px-4 mb-4 mt-4 d-flex" id="finish" > التالي <i
    class="fa-solid fa-paper-plane"></i></button>
    
                </div>
     
    </div>
</div>

<!-- ======================================================== -->
<div class="mt-5 py-5" id="test" style="display: none;" >
    <div class="container">


                <div class="text-center d-flex flex-column align-items-center">
                    <h2 class="main-color"> أحسنت  </h2>
                    <iframe src="https://giphy.com/embed/7ATh0I7hi5OWyd66XE" width="480" height="480" ></iframe>
                    <a id="quiz_question" class="btn px-4 mx-2 mb-2 " href="{% url 'quiz_question' quiz_name='aftermodule2'%}">الاختبار البعدى للموديل الثاني </a>
                </div>
     
    </div>
</div>
<!-- =======================================last-================================ -->
</div>
<div class="col-md-2 px-0">
    <div class="NavContentLinks">
        <ul class="nav d-flex flex-column justify-content-center text-center ">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" onclick="toggleContainer('fristVideoContainer')"> تعريف الإنفوجرافيك الثابت </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" onclick="toggleContainer('secondVideoContainer')"> استخدامات الإنفوجرافيك الثابت </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('secondVideoContainer')">   تسجيل الدخول لـ Visme </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('secondVideoContainer')">  إنشاء إنفوجرافيك جديد </a>
              </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v4VideoContainer')"> التعامل مع الأجزاء</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v5VideoContainer')"> إضافة الأشكال للإنفوجرافيك الثابت  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v6VideoContainer')"> إضافة الصور</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v7VideoContainer')"> إضافة النصوص</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v8VideoContainer')"> تابع إضافة النصوص </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v9VideoContainer')"> إضافة الرسوم البيانية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v10VideoContainer')"> تغيير الخلفية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v11VideoContainer')"> ضافة QR code</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v12VideoContainer')"> التعامل مع قالب جاهز </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v13VideoContainer')"> مشاركة الإنفوجرافيك الثابت</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v14VideoContainer')"> إنشاء نسخة</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v14VideoContainer')">  معاينة الإنفوجرافيك الثابت</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('v14VideoContainer')">  تنزيل الإنفوجرافيك الثابت</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" onclick="toggleContainer('activity')">  نشاط 2  </a>
              </li>

        </ul>
    </div>
      
</div>
</div>
</div>

<script>
    function toggleContainer(containerId) {
        // Hide all containers
        var containers = document.querySelectorAll('.mt-5.py-5');
        containers.forEach(function(container) {
            container.style.display = 'none';
        });

        // Show the selected container
        var selectedContainer = document.getElementById(containerId);
        selectedContainer.style.display = 'block';
    }
</script>

<Script>
    document.getElementById("finish").addEventListener("click" , function () {
        document.getElementById("test").style.display = 'block'  
        document.getElementById("activity").style.display = 'none'         
    })
</Script>
{% endblock %}
